<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="river_product_label" frontName="river_product_label">
            <module name="Riverstone_ProductLabel"/>
        </route>
    </router>
</config>